$black: #000000;

html{
	padding:0;
	margin:0;
	width:100%;
	height:100%;
}

body{
	width:80%;
	margin:auto;
	padding:0;
	min-height:100% !important;
}

nav{
	
}

ul{
	
}

li{
	color:$black !important;
}