{% extends "squeleton.twig" %}

{% block title %} Accueil {% endblock %}
{% block assets %}
		{{ head|raw }}
		<link rel="stylesheet" type="text/css" href="/css/style.css" />
{% endblock %}

{% block body %}
<body>
{% endblock %} 

  {% block nav %}
    {% include 'navigation.twig' %}
  {% endblock %}

  {% block container %}
  

  {% endblock %}

{% block scripts %}
  <script>

  </script>
 {% endblock %} 

