
<div class="row">
	<nav class="navbar navbar-default">

	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	    </div>

		<div class="collapse navbar-collapse" id="navigation">
			<ul class="nav navbar-nav">
				<li>Foo</li>
				<li>Bar</li>
			</ul>	
		</div>	
	</nav>	
</div>	
