<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">

		<title>
			{% block title %}{% endblock %}
		</title>
		
		{# Script Google Tag Manager #}
		{% if GoogleTagManager is defined and GoogleTagManager.gtm is defined %}
			{{ GoogleTagManager.gtm.script | raw}}
		{% endif %}

		{% block assets %}{% endblock %}
	</head>

	{% block body %}{% endblock %}
	
	{# NoScript Google Tag Manager #}
	{% if GoogleTagManager is defined and GoogleTagManager.gtm is defined %}
		{{ GoogleTagManager.gtm.noscript | raw}}
	{% endif %}	
	
	{# Google Analytics #}
	{% if GoogleTagManager is defined and GoogleTagManager.ga is defined %}
		{{ GoogleTagManager.ga | raw}}
	{% endif %}	

	<div class="container">

		{% block nav %}{% endblock %}
		{% block container %}{% endblock %}

	</div>

	{% block scripts %}{% endblock %}
	{% block footer %}{% endblock %}
	</body>
</html>
